<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                  "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd" >
<hibernate-configuration>
	<session-factory>
		<!-- Database connection Details -->
		<property name="connection.driver.class">com.mysql.cj.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost:3306/helloworld</property>
		<property name="connection.username">root</property>
		<property name="connection.password">rootpassword</property>
		<!-- Dialect need to be mentioned as per database, so that query are gnerated 
			accordingly -->
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		
		<!-- <property name="show_sql">true</property> -->
		
		<property name="format_sql">true</property>

		<!-- Entity Object details -->
		<mapping class="org.learnings.jpa.object.relational.impedance.hello.world.model.Message" />
		<mapping class="org.learnings.jpa.object.relational.impedance.model.component.Person" />
		<mapping class="org.learnings.jpa.object.relational.impedance.model.cascade.Guide"/>
		<mapping class="org.learnings.jpa.object.relational.impedance.model.cascade.Student"/>
		<mapping class="org.learnings.jpa.object.relational.impedance.model.onetoone.Customer"/>
		<mapping class="org.learnings.jpa.object.relational.impedance.model.onetoone.Passport"/>
		<mapping class="org.learnings.jpa.object.relational.impedance.model.manytomany.Actor"/>
		<mapping class="org.learnings.jpa.object.relational.impedance.model.manytomany.Movie"/>
		<mapping class="org.learnings.jpa.object.relational.impedance.model.enums.Employee"/>
		<mapping class="org.learnings.jpa.object.relational.impedance.model.composite.key.Parent"/>
		<mapping class="org.learnings.jpa.object.relational.impedance.model.composite.key.Child"/>
	</session-factory>
</hibernate-configuration>